.spinner {
    position: relative;
    flex: 1;
    display: flex;
}

.spinner > div {
    position: absolute;
    top: 38%;
    right: 38%;
    -webkit-animation: Rotation 6s linear infinite;
    -moz-animation: Rotation 6s linear infinite;
    animation: Rotation 6s linear infinite;
}

.spinner > div > div {
    height: 92px;
    width: 92px;
    border: 1px solid rgba(0, 0, 0, .4);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.08), rgba(64, 64, 64, 0.2));
    border-radius: 50%;
    transition: transform .6s;
    animation: Expansion 12s linear infinite;
    animation-delay: .2s;
}

.spinner > div:nth-child(2) {
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner > div:nth-child(3) {
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
}

.spinner > div:nth-child(4) {
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
    animation-delay: -3s;
}

.spinner > div:nth-child(5) {
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    animation-delay: -4s;
}

.spinner > div:nth-child(6) {
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
    animation-delay: -5s;
}

.example-graph {
    flex: .8;
    display: flex;
    flex-flow: column nowrap;
}

.example-graph span {
    flex: .14;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--glass-dark);
}

.example-graph span label {
    font-family: 'Courier New', Courier, monospace;
    color: var(--fg-color-1);
    font-size: 14px;
    text-shadow: 1px 1px 1px var(--bg-color-3);
    -webkit-animation: GraphLabel var(--graph-speed) linear infinite;
    -moz-animation: GraphLabel var(--graph-speed) linear infinite;
    animation: GraphLabel var(--graph-speed) linear infinite;
}

.example-graph span label:nth-child(2) {
    -webkit-animation-delay: -18s;
    -moz-animation-delay: -18s;
    animation-delay: -18s;
}

.example-graph span label:nth-child(3) {
    -webkit-animation-delay: -12s;
    -moz-animation-delay: -12s;
    animation-delay: -12s;
}

.example-graph span label:nth-child(4) {
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    animation-delay: -6s;
}

.example-graph div {
    flex: .2;
    margin: 12px 0;
    width: 0%;
    border: 1px solid var(--bg-color-5);
    box-shadow: 1px 1px 2px var(--glass-dark);
}

.example-graph div:nth-of-type(1) {
    -webkit-animation: GraphBar1 var(--graph-speed) linear infinite;
    -moz-animation: GraphBar1 var(--graph-speed) linear infinite;
    animation: GraphBar1 var(--graph-speed) linear infinite;
}

.example-graph div:nth-of-type(2) {
    -webkit-animation: GraphBar2 var(--graph-speed) linear infinite;
    -moz-animation: GraphBar2 var(--graph-speed) linear infinite;
    animation: GraphBar2 var(--graph-speed) linear infinite;
}

.example-graph div:nth-of-type(3) {
    -webkit-animation: GraphBar3 var(--graph-speed) linear infinite;
    -moz-animation: GraphBar3 var(--graph-speed) linear infinite;
    animation: GraphBar3 var(--graph-speed) linear infinite;
}

.example-graph div:nth-of-type(4) {
    -webkit-animation: GraphBar4 var(--graph-speed) linear infinite;
    -moz-animation: GraphBar4 var(--graph-speed) linear infinite;
    animation: GraphBar4 var(--graph-speed) linear infinite;
}

.example-schema {
    flex: .8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
}

.example-schema > span {
    /* flex: .46; */
    /* height: 50%; */
    display: block;
    font-size: 14px;
    line-height: 18px;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: stretch; */
    
}

.example-schema > span > div {
    opacity: 0;
    padding: 4%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--glass-dark);
    background: linear-gradient(36deg, var(--glass-lite), var(--bg-color-3));
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
}

.example-schema > span > div > label {
    padding: 3% 0;
    margin: 0 4% 2% 4%;
    display: inline-block;
    color: var(--fg-color-2);
    text-shadow: 1px 1px 1px var(--glass-dark);
    border-bottom: 1px solid var(--fg-color-2);
}

.example-schema > span > div > ul {
    list-style-type: none;
    padding-left: 10%;
    opacity: 0;
}

.example-schema > span > div > ul > li {
    color: var(--fg-color-1);
    text-shadow: 1px 1px 1px var(--glass-dark);
}

.example-schema > span > hr {
    opacity: 0;
    height: 1px;
    margin: auto;
    border-color: var(--fg-color-7);
    border-width: 1px;
    float: left;
    top: 50%;
    position: relative;
}

.example-schema > span:nth-of-type(1) {
    animation: example-schema-upper-span var(--schema-props);
    height: 100%;
}

.example-schema > span:nth-of-type(1) > div {
    width: 40%;
}

.example-schema > span:nth-of-type(1) > div:nth-of-type(1) {
    animation: example-schema-1 var(--schema-props);
    opacity: 1;
}

.example-schema > span:nth-of-type(1) > div:nth-of-type(2) {
    animation: example-schema-2 var(--schema-props);
}


.example-schema > span:nth-of-type(1) > div:nth-of-type(1) > ul {
    animation: example-schema-1-text var(--schema-props);
}

.example-schema > span:nth-of-type(1) > div:nth-of-type(2) > ul {
    animation: example-schema-2-text var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(1) > ul {
    animation: example-schema-3-text var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(2) > ul {
    animation: example-schema-4-text var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(3) > ul {
    animation: example-schema-5-text var(--schema-props);
}

.example-schema > span:nth-of-type(1) > hr {
    animation: example-schema-1-hr var(--schema-props);
}

.example-schema > span:nth-of-type(2) {
    height: 0%;
    animation: example-schema-lower-span var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div {
    width: 28%;
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(1) {
    animation: example-schema-3 var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(2) {
    animation: example-schema-4 var(--schema-props);
}

.example-schema > span:nth-of-type(2) > div:nth-of-type(3) {
    animation: example-schema-5 var(--schema-props);
}

.example-schema > span:nth-of-type(2) > hr {
    width: 8%;
}

.example-schema > span:nth-of-type(2) > hr:nth-of-type(1) {
    animation: example-schema-3-hr var(--schema-props);
}

.example-schema > span:nth-of-type(2) > hr:nth-of-type(2) {
    animation: example-schema-4-hr var(--schema-props);
}

.example-app {
    flex: .28;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-end;
}

.example-app > div {
    border: 1px solid var(--glass-lite);
    flex: .3;
    box-shadow: 2px 2px 4px var(--glass-dark);
}

.example-app > div:nth-child(1) {
    height: 100%;
    flex: .44;
}
.example-app > div:nth-child(2) { 
    flex: .32;
    height: 80%;
}
.example-app > div:nth-child(3) { 
    flex: .14;
    height: 80%;
}

.example-app > div > div {
    font-size: 10px;
    color: var(--fg-color-2);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, var(--glass-lite), rgba(32, 32, 32, 0.6));
    border: 4px solid var(--bg-color-2);
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.example-app > div > div > span {
    flex: .2;
}

.example-app .spinner {
    flex: .4;
    width: 50%;
}

.example-app .spinner > div {
    top: 32%;
    right: 44%;
}

.example-app .spinner > div > div {
    animation: ExpansionMini 12s linear infinite;
    border: 1px solid var(--fg-color-8);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.08), rgba(64, 32, 64, 0.16));
}

.example-app .example-graph {
    flex: .5;
}

.example-app .example-graph span {
    flex: .1;
    margin-bottom: 2px;
}

.example-app .example-graph div {
    flex: .2;
    margin: 4px 0;
}

.example-app .example-schema {
    flex: 1;
    font-size: 2px;
}

.example-app .example-schema, .example-app .example-schema * {
    /* animation-delay: 2s; */
}

.example-app .example-schema > span {
    width: 100%;
    font-size: 2px;
}

.example-app .example-schema > span > div {
    /* margin: 0 -1px; */
}

.example-app .example-schema > span > div label {
    padding: 2px 0;
    line-height: 12px;
    font-size: 12px;
    border-bottom: 1px solid var(--fg-color-6);
}

.example-app .example-schema > span > hr {
    margin: 0 -1px;
    top: 32%;
}

.example-code {
    flex: .6;
    overflow: hidden;
}

.example-code ol {
    list-style-type: none;
    counter-reset: li;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.1px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 0;
}

.example-code ol li {
    counter-increment: li;
}

.example-code ol li:before {
    content: counter(li);
    display: inline-block;
    width: 2em;
    color: var(--fg-color-3);
}

.example-code ol li[data-indent="2"] > :first-child {
    padding-left: var(--code-indent);
}
.example-code ol li[data-indent="3"] > :first-child {
    padding-left: calc(var(--code-indent) * 2);
}
.example-code ol li[data-indent="4"] > :first-child {
    padding-left: calc(var(--code-indent) * 3);
}

.example-code ol li em {
    color: var(--code-keyword);
}

.example-code ol li b {
    color: var(--code-name);
}

.example-code ol li span {
    color: var(--code-param);
    padding: 0;
}

.example-code ol li:nth-child(15) ~ li {
    visibility: hidden;
    height: 0px;
}

.example-code ol li:nth-child(1) {
    animation: 8s code-editor-li-1 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 2s; */
}

.example-code ol li:nth-child(2) {
    animation: 8s code-editor-li-2 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 1s; */
}

.example-code ol li:nth-child(3) {
    animation: 8s code-editor-li-3 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 2s; */
}

.example-code ol li:nth-child(4) {
    animation: 8s code-editor-li-4 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 3s; */
}

.example-code ol li:nth-child(16) {
    animation: 8s code-editor-li-16 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 8s; */
}

.example-code ol li:nth-child(17) {
    animation: 8s code-editor-li-17 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 9s; */
}

.example-code ol li:nth-child(18) {
    animation: 8s code-editor-li-18 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 8s; */
}

.example-code ol li:nth-child(19) {
    animation: 8s code-editor-li-19 linear infinite forwards;
    animation-delay: 2s;
    /* animation-delay: 9s; */
}