html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html { 
    background: linear-gradient(45deg, var(--bg-color-2), var(--bg-color-3), var(--fg-color-5), var(--dark-grey)), #000;
    background-size: 400% 400%;
	-webkit-animation: Gradient 32s ease infinite;
	-moz-animation: Gradient 32s ease infinite;
    animation: Gradient 32s ease infinite;
}

body {
    min-height: 100vh;
    background: url(../images/innovation-bg-0.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--fg-color-1);
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-top: var(--header-height);
    -webkit-animation:  fade-in .6s ease-in;
	-moz-animation:  fade-in .6s ease-in;
    animation:  fade-in .6s ease-in;
}

header {
    background: linear-gradient(45deg, var(--bg-color-1), var(--bg-color-3)), rgba(0, 0, 0, 0.4);
    height: var(--header-height);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bg-color-4);
    box-shadow: 2px 4px 6px var(--dark-grey);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    -webkit-animation:  fade-in .5s ease-in;
	-moz-animation:  fade-in .5s ease-in;
    animation:  fade-in .5s ease-in;
}

header > a {
    flex: .5;
    text-decoration: none;
    color: var(--fg-color-1);
    display: block;
}

header > input { 
    display: none;
}

nav {
    flex: .4;
    padding-right: 12px;
    text-align: right;
}

nav > a, nav > a:visited {
    display: inline-block;
    font-family: 'innovation';
    font-size: 26px;
    line-height: 72px;
    letter-spacing: 1.1px;
    padding: 0 6%;
    color: var(--fg-color-2);
    text-decoration: none;
    text-shadow: 2px 2px 4px var(--glass-dark);
}

nav > a:hover {
    color: var(--fg-color-3);
    text-shadow: 2px 2px 4px var(--bg-color-1);
}

h1, h2 {
    font-family: 'Innovation';
    clear: both;
}

h1 {
    visibility: hidden;
    margin: 0 12px;
    padding-top: 8px;
    margin-left: 20px;
    font-size: 36px;
    line-height: 36px;
    text-shadow: -2px 2px 2px var(--bg-color-5);
    -webkit-animation: fade-in .5s ease-in;
    -moz-animation: fade-in .5s ease-in;
    animation: fade-in .5s ease-in;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

h2, h3 {
    text-shadow: 1px 1px 1px var(--bg-color-5);
}

h2 {
    margin: 0;
    color: var(--fg-color-2);
    font-size: 28px;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--fg-color-2);
}

h3 {
    margin: 0;
    font-weight: 200;
    font-size: 20px;
}

h3 ~ p {
    margin-left: 2%;
}

p { 
    font-size: 20px; 
    clear: both;
    text-shadow: 1px 1px 1px var(--bg-color-4);
    margin: 0;
    letter-spacing: 1.2px;
    z-index: 10;
}

section {
    visibility: hidden;
    min-height: 64vh;
    margin: var(--padding-base) var(--padding-base) 0 var(--padding-base);
    padding: var(--padding-base);
    background: linear-gradient(to bottom right, var(--glass-dark), var(--glass-lite));
    box-shadow: 6px 6px 12px #1f0a00;
    border-top: 1px solid var(--fg-color-4);
    border-left: 1px solid var(--fg-color-4);
    border-right: 1px solid var(--fg-color-3);
    border-bottom: 1px solid var(--fg-color-3);
    -webkit-animation: fade-in .5s ease-in;
    -moz-animation: fade-in .5s ease-in;
    animation: fade-in .5s ease-in;
    animation-fill-mode: forwards;
    display: flex;
    flex-flow: column nowrap;
}

section:nth-of-type(1) { 
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
}

section:nth-of-type(2) {     
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
}

section:nth-of-type(3) {     
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .6s;
}

section:nth-of-type(4) {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    animation-delay: .8s;
}

section:only-of-type {
    min-height: 72vh;
}

section:last-of-type { margin-bottom: 64px; }

section > div { 
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

section:nth-of-type(odd) main, section:nth-of-type(even) aside { float: left; }
section:nth-of-type(odd) aside, section:nth-of-type(even) main  { float: right; }

section:nth-of-type(even) aside { padding-left: 3%; }

main, aside { 
    display: flex; 
    flex-flow: column nowrap;
    justify-content: space-evenly;
    position: relative;
}

main { flex: .48; padding: 0 2%; }
main:only-child { flex: .8; }
aside { flex: .4; }

main > ul, aside > ul {
    margin: 0 0 0 12%;
    list-style-type: circle;
}

main > ul li, aside > ul li {
    font-size: 22px;
    padding: 2px 0 2px 8px;
    color: var(--fg-color-1);
    letter-spacing: 2px;
    text-shadow: 1px 2px 3px var(--glass-dark);
}

main span {
    flex: .4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly
}

main span * {
    flex: .24
}

main > a {
    font-size: 28px;
    text-decoration: none;
    color: var(--fg-color-2);
}

main > a:hover {
    color: var(--fg-color-3);
}

form {
    flex: .4;
}

form label, form input, form button, form select {
    display: block;
    height: 32px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

form input, form button, form textarea {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(32, 32, 32, 0.6));
    color: var(--fg-color-1);
}

form label {
    width: 100%;
    border-bottom: 1px solid var(--fg-color-2);
    height: 22px;
    margin-bottom: 6px;
    color: var(--fg-color-1);
}

form label:nth-of-type(3) {
    margin-bottom: 12px;
}

form label:last-of-type {
    margin-top: 14px;
}

form input, form textarea {
    font-size: 14px;
    font-weight: 200;
    padding: 0 2%;
    letter-spacing: 1.2px;
    color: var(--form-field);
}

form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--fg-color-7);
}

form label + * {
    margin-bottom: 12px;
}

form label + label {
    clear: both;
}

form button {
    color: var(--fg-color-2);
    border: 1px solid var(--fg-color-2);
    box-sizing: border-box;
    box-shadow: 2px 2px 2px var(--glass-dark);
    cursor: pointer;
    font-weight: 300;
}

form button:hover {
    color: var(--fg-color-1);
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(32, 32, 32, 0.4));
    box-shadow: 3px 3px 3px var(--glass-dark);
}

form button:active {
    color: var(--fg-color-1);
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(32, 32, 32, 0.4));
    box-shadow: 1px 1px 2px var(--glass-dark);
}

form input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
    margin-bottom: 0;
}

form input[type="checkbox"] + label {
    display: inline-block;
    border: none;
    margin: 0;
}

form input[type="checkbox"] + label:hover { 
    color: var(--form-field);
}

form input[type="checkbox"] + label::before {
    content: "";
    height: 20px;
    width: 20px;
    font-size: 18px;
    line-height: 16px;
    padding: 2px;
    display: block;
    box-sizing: border-box;
    float: left;
    margin-right: 12px;
    border: 1px solid var(--fg-color-2);
    background: rgba(0, 0, 0, 0.1);
}

form input[type="checkbox"]:checked + label::before {
    content: "✓";
}

form textarea {
    width: 100%;
    height: 48px;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 200;
    padding: 2px 6px;
    box-sizing: border-box;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border-top: 1px solid var(--fg-color-4);
    background: linear-gradient(22deg, var(--bg-color-1), var(--bg-color-3)), rgba(0, 0, 0, 0.4);
}

footer span:last-child { float: right; }

footer a { 
    color: var(--fg-color-2);
    text-decoration: none; 
}

.fb_iframe_widget {
    flex: .4;
}

.fb_iframe_widget > span, .fb_iframe_widget > span > iframe {
    height: 100% !important;
    width: 100% !important;
}

.fb_iframe_widget iframe {
    position: relative !important;
}