html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: black;
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    padding-top: var(--header-root);
}

header {
    /* background: var(--header-bg); */
    background: transparent;
    border-bottom: 1px solid var(--brand-2);
    height: var(--header-root);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    animation: h-blink-in .24s ease-in;
    animation-fill-mode: forwards;
}

body > input {
    display: none;
}

header > a {
    text-decoration: none;
    color: var(--brand-1);
    display: block;
    height: 100%;
}

nav {
    opacity: 0;
    --margin-base: var(--golden-height-sixth);
    --flex-base: calc(1 - (1 / var(--phi)));
    flex: var(--golden-flex-third);
    margin-left: var(--margin-base);
    margin-top: var(--margin-base);
    padding-right: var(--golden-height-eighth);
    height: 0vh;
    border-right: 1px solid var(--grey);
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    animation: v-drop-in .18s ease-in;
    animation-fill-mode: forwards;
    animation-delay: .24s;
}

nav > button {
    visibility: hidden;
    display: inline-block;
    font-family: 'code';
    font-size: 22px;
    line-height: 48px;
    padding: 0;
    opacity: 0;
    color: var(--fg-1);
    height: var(--golden-height-sixth);
    margin-bottom: var(--golden-height-eighth);
    text-shadow: 2px 2px 4px var(--glass-dark);
    background: transparent;
    animation: fade-in 0.24s ease-in;
    animation-fill-mode: forwards;
    animation-delay: .48s;
    border: 1px solid var(--grey);
    border-bottom: none;
    border-left: none;
    transition: all 0.18s linear;
    letter-spacing: calc(1pt * var(--phi));
}

nav > button:hover {
    cursor: pointer;
    color: var(--brand-2);
    text-shadow: 2px 2px var(--bg-color-1);
    transition: color 0.24s linear, border-color 0.24s ease-in;
    border-color: var(--glass-lite);
}

nav > button.selected {
    /* font-size: 24.2px; */
    color: var(--brand-4);
    border-color: var(--brand-2);
    text-shadow: 1px 1px var(--grey);
    transition: color 0.24s linear, border-color 0.24s ease-in, letter-spacing 0.18s linear, font-size 0.12s linear;
    letter-spacing: 1pt;
}

h1, h2, h3, h4 {
    font-family: 'fira-sans';
    font-weight: 200;
    letter-spacing: 1pt;
    clear: both;
}

h1 {
    opacity: 0;
    margin-left: var(--h1-root);
    margin-top: var(--golden-height-sixth);
    font-size: var(--h1-root);
    line-height: var(--h1-root);
    /* text-shadow: -1px 1px var(--glass-lite); */
    animation: test-in .2s ease-in;
    animation-delay: .06s;
    animation-fill-mode: forwards;
}

h2 {
    margin: 0;
    font-size: var(--h2-root);
    line-height: var(--golden-height-sixth);
    padding-left: calc(var(--golden-width-eighth) / var(--phi));
    vertical-align: middle;
    color: var(--brand-2);
    width: calc(100% / var(--phi));

    border-left: 1px solid var(--glass-lite);
    border-bottom: 1px solid var(--glass-lite);
}

h3, h4 {
    margin: 0; 
}

h3 {
    font-size: var(--h2-root);
    margin-top: var(--golden-height-eighth);
    margin-bottom: var(--golden-height-eighth);
    color: var(--brand-3);
}

h4 {
    margin: 0;
    color: var(--brand-5);
    letter-spacing: 1.2pt;
    font-size: 12px;
}

p {
    font-size: 12pt;
    line-height: 16pt;
    color: var(--fg-2);
    font-family: 'fira-sans';
    font-weight: 300;
    letter-spacing: 1.12pt;
}

ul {
    padding-left: var(--golden-height-eighth);
    list-style-type: none;
}

ul > li {
    font-family: 'fira-sans';
    font-weight: 200;
    font-size: 12pt;
    line-height: 16pt;
    color: var(--fg-2);
}

main a {
    /* letter-spacing: 1.08pt; */
    color: var(--brand-4);
    text-decoration: none;
    transition: letter-spacing 0.12s ease-in;
}

main a:hover {
    transition: letter-spacing 0.18s ease-in;
    letter-spacing: 1.12pt;
}

main {
    opacity: 0;
    --margin-base: var(--golden-height-sixth);
    flex: var(--golden-flex-first);
    height: var(--golden-height-first);
    margin-left: var(--margin-base);
    margin-top: var(--margin-base);
    border-top: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    animation: sync-in .24s ease-in;
    animation-delay: .36s;
    animation-fill-mode: forwards;
    transform: scalex(0.1);
}

main > * {
    opacity: 0;
    animation: fade-in .18s ease-in;
    animation-delay: .72s;
    animation-fill-mode: forwards;
}

main > :not(h2) {
    padding-left: calc(var(--golden-width-eighth) / var(--phi));
    padding-right: var(--golden-width-eighth);
}

footer {
    opacity: 0;
    padding: var(--golden-height-eighth) 0;
    color: var(--fg-1);
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    font-family: 'Courier New', Courier, monospace;
    height: var(--footer-root);
    box-sizing: border-box;
    background: var(--footer-bg);
    border-top: 1px solid var(--grey);
    background: linear-gradient(to bottom right, var(--glass-dark), var(--bg-1));
    animation: alt-sync-in .36s ease-in;
    animation-delay: .48s;
    animation-fill-mode: forwards;
}

footer > * {
    opacity: 0;
    animation: fade-in .24s ease-in;
    animation-fill-mode: forwards;
}

footer > div { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

footer > div:nth-child(1) { 
    flex: var(--golden-flex-first);
    padding: 0 var(--golden-width-seventh);
    animation-delay: .74s;
}

footer > div:nth-child(2) { 
    flex: var(--golden-flex-second); 
    padding: 0 var(--golden-width-eighth);
    animation-delay: .72s;
}

footer > div:nth-child(2) span { text-align: center; } 

footer > div div {
    display: flex;
    flex-flow: row;
    /* width: 60%; */
    align-items: stretch;
    justify-content: space-around;
    /* margin-bottom: 6px; */
}

footer > div span {
    /* margin-top: 64px; */
    font-size: 14px;
    margin-top: 6px;
}

footer > div span b {
    color: var(--brand-5);
}

footer > div > div + span, footer > div > a {
    transition: letter-spacing 0.12s ease-out;
}

footer > div > div + span:hover, footer > div > a:hover {
    letter-spacing: 1.08pt;
    transition: letter-spacing 0.18s ease-in;
}

footer h4 {
    color: var(--fg-1);
    border-bottom: 1px solid var(--fg-color-1);
    height: 36px;
    margin: 0;
    /* width: 100%; */
}

footer hr {
    width: 100%;
    border: 1px solid var(--fg-color-2);
}

footer a {
    font-size: 13px;
    color: var(--brand-3);
    text-decoration: none; 
}

footer a:not(.social):hover {
    animation: 2s test-anim linear infinite forwards;
}

footer a.social {
    background-color: var(--grey);
    height: 36px;
    width: 36px;
    /* transition: background-color .1s; */
}

footer a.social:hover {
    /* transition: background-color .1s; */
    animation: 2s coin-spin linear infinite forwards;
}

footer a[title="facebook"] {
    -webkit-mask-image: url(../images/facebook.svg);
    mask-image: url(../images/facebook.svg);
}

footer a[title="linkedin"] {
    -webkit-mask-image: url(../images/linkedin.svg);
    mask-image: url(../images/linkedin.svg);
}

footer a[title="github"] {
    -webkit-mask-image: url(../images/github.svg);
    mask-image: url(../images/github.svg);
}

footer a[title="twitter"] {
    -webkit-mask-image: url(../images/twitter.svg);
    mask-image: url(../images/twitter.svg);
}

footer a[title="facebook"]:hover {
    background-color: var(--brand-facebook)
}
footer a[title="linkedin"]:hover {
    background-color: var(--brand-linkedin)
}
footer a[title="github"]:hover {
    background-color: var(--brand-github)
}
footer a[title="twitter"]:hover {
    background-color: var(--brand-twitter)
}

.hidden { 
    opacity: 0;
    display: none; 
    transition: 0.4s linear opacity;
}

.no-delay { animation-delay: -.2s !important; }
.no-delay > * { animation-delay: 0.12s !important; }

.flex-one, .flex-two, .flex-three {
    display: flex;
}

.flex-three > div {
    flex: 0.333;
}