:root {
    --phi: 1.618;

    --golden-height-root: 100vh;
    --golden-height-first: calc(var(--golden-height-root) / var(--phi));
    --golden-height-second: calc(var(--golden-height-root) - var(--golden-height-first));
    --golden-height-third: calc(var(--golden-height-second) / var(--phi));
    --golden-height-fourth: calc(var(--golden-height-second) - var(--golden-height-third));
    --golden-height-fifth: calc(var(--golden-height-fourth) / var(--phi));
    --golden-height-sixth: calc(var(--golden-height-fourth) - var(--golden-height-fifth));
    --golden-height-seventh: calc(var(--golden-height-sixth) / var(--phi));
    --golden-height-eighth: calc(var(--golden-height-sixth) - var(--golden-height-seventh));

    --golden-width-root: 100vw;
    --golden-width-first: calc(var(--golden-width-root) / var(--phi));
    --golden-width-second: calc(var(--golden-width-root) - var(--golden-width-first));
    --golden-width-third: calc(var(--golden-width-second) / var(--phi));
    --golden-width-fourth: calc(var(--golden-width-second) - var(--golden-width-third));
    --golden-width-fifth: calc(var(--golden-width-fourth) / var(--phi));
    --golden-width-sixth: calc(var(--golden-width-fourth) - var(--golden-width-fifth));
    --golden-width-seventh: calc(var(--golden-width-sixth) / var(--phi));
    --golden-width-eighth: calc(var(--golden-width-sixth) - var(--golden-width-seventh));

    --golden-flex-root: 1;
    --golden-flex-first: calc(var(--golden-flex-root) / var(--phi));
    --golden-flex-second: calc(var(--golden-flex-root) - var(--golden-flex-first));
    --golden-flex-third: calc(var(--golden-flex-second) / var(--phi));
    --golden-flex-fourth: calc(var(--golden-flex-second) - var(--golden-flex-third));
    --golden-flex-fifth: calc(var(--golden-flex-fourth) / var(--phi));
    --golden-flex-sixth: calc(var(--golden-flex-fourth) - var(--golden-flex-third));

    --header-root: var(--golden-height-fourth);
    --h1-root: var(--golden-height-sixth);
    --h2-root: var(--golden-height-eighth);

    --footer-root: var(--golden-height-fourth);
    --padding-base: 32px;

    --button-height: var(--golden-height-sixth);
   
    --brand-twitter: #1DA1F2;
    --brand-facebook: #3B5998;
    --brand-linkedin: #0077B5;
    --brand-github: #181717;

    --brand-1: #FFC88B;
    --brand-2: #A8D5D6;
    --brand-3: #75D279;
    --brand-4: #A9D6D5;
    --brand-5: #FFBBAA;
    --brand-6: #d020ff;

    --bg-1: #262626;
    --bg-2: #121618;
    
    --fg-1: #D6D6D6;
    --fg-2: #c2c2c2;
    --fg-3: #b6b4b6;

    --dark-grey: #2f2f2f;
    --grey: #6f6f6f;

    --glass-dark: rgba(24, 24, 24, 0.80);
    --glass-lite: rgba(72, 72, 72, 0.72);
    
    --header-bg: transparent;
    --footer-bg: linear-gradient(to bottom right, var(--glass-dark), var(--bg-1));
}

::-webkit-scrollbar-track {  background: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar { width: 6px; }

::-webkit-scrollbar-thumb {
    width: 6px;
    background: linear-gradient(36deg, var(--bg-color-3), var(--fg-color-4));
}